@inherits UniBlocksGraph.Layouts.MainLayoutComponent
@using Radzen
@using Radzen.Blazor
@using UniBlocksGraph.Models.UniSql
@using Microsoft.AspNetCore.Identity
@using UniBlocksGraph.Models
@using Blazored.Modal
<RadzenDialog />
<RadzenNotification />
<BlazoredModal />
<RadzenHeader>
    <ChildContent>
        <div class="row justify-content-start align-items-center">
            <div class="col-md-6 d-flex align-items-center">
                <RadzenSidebarToggle Click="@SidebarToggle0Click">
                </RadzenSidebarToggle>
                <RadzenLabel Text="UniBlocksGraph">
                </RadzenLabel>
            </div>
            <div class="col-md-6 text-lg-right">
                <RadzenProfileMenu Visible="@(Security.IsAuthenticated())" Click="@Profilemenu0Click">
                    <ChildContent>
                        <RadzenProfileMenuItem Path="profile" Icon="settings" Text="Profile" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
                        </RadzenProfileMenuItem>
                        <RadzenProfileMenuItem Path="application-users" Icon="person" Text="Users" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
                        </RadzenProfileMenuItem>
                        <RadzenProfileMenuItem Path="application-roles" Icon="security" Text="Roles" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
                        </RadzenProfileMenuItem>
                        <RadzenProfileMenuItem Text="Logout" Value="Logout" Icon="power_settings_new">
                        </RadzenProfileMenuItem>
                    </ChildContent>
                    <Template>
                        <RadzenGravatar Email="@(Security.User?.Name)">
                        </RadzenGravatar>
                    </Template>
                </RadzenProfileMenu>
            </div>
        </div>
    </ChildContent>
</RadzenHeader>
<RadzenBody @ref="body0">
    <ChildContent>
        <RadzenContentContainer Name="main">
            @Body
        </RadzenContentContainer>
    </ChildContent>
</RadzenBody>
<RadzenSidebar @ref="sidebar0">
    <ChildContent>
        <RadzenPanelMenu style="height: 100%">
            <ChildContent>
                <RadzenPanelMenuItem Text="Blocks" Path="blocks" Visible="@Security.IsInRole(new string[]{"Authenticated", "Admin"})">
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Assign Service" Path="a-service-subscriptions" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
                </RadzenPanelMenuItem>

                @*<RadzenPanelMenuItem Text="Block Subscriptions" Path="block-subscriptions" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
                </RadzenPanelMenuItem>*@
                @*<RadzenPanelMenuItem Text="Block Users" Path="block-users" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
                </RadzenPanelMenuItem>*@
                <RadzenPanelMenuItem Text="Invoices" Path="invoices" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Messages" Path="messages" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
                </RadzenPanelMenuItem>
                @*<RadzenPanelMenuItem Text="Services" Path="services" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
                </RadzenPanelMenuItem>*@
                @*<RadzenPanelMenuItem Text="Subscriptions" Path="subscriptions" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
                </RadzenPanelMenuItem>*@
                @*<RadzenPanelMenuItem Text="Transactions" Path="transactions" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
                </RadzenPanelMenuItem>*@
                @*<RadzenPanelMenuItem Text="Users" Path="users" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
                </RadzenPanelMenuItem>*@
                @*<RadzenPanelMenuItem Text="User Messages" Path="user-messages" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
                </RadzenPanelMenuItem>*@
            </ChildContent>
        </RadzenPanelMenu>
    </ChildContent>
</RadzenSidebar>
<RadzenFooter>
    <ChildContent>
        <RadzenLabel Text="UniBlocks, Copyright Ⓒ 2020">
        </RadzenLabel>
    </ChildContent>
</RadzenFooter>
