@page "/user-messages"
@layout MainLayout
@inherits UniBlocksGraph.Pages.UserMessagesComponent

@using Radzen
@using Radzen.Blazor
@using UniBlocksGraph.Models.UniSql
@using Microsoft.AspNetCore.Identity
@using UniBlocksGraph.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="User Messages">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@(getUserMessagesResult)" TItem="UniBlocksGraph.Models.UniSql.UserMessage" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="UniBlocksGraph.Models.UniSql.UserMessage" Context="uniBlocksGraphModelsUniSqlUserMessage" Property="UserId" SortProperty="User.Email" FilterProperty="User.Email" Title="User">
              <Template Context="data">
              @(data.User?.Email)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="UniBlocksGraph.Models.UniSql.UserMessage" Context="uniBlocksGraphModelsUniSqlUserMessage" Property="MessageId" SortProperty="Message.content" FilterProperty="Message.content" Title="Message">
              <Template Context="data">
              @(data.Message?.content)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="UniBlocksGraph.Models.UniSql.UserMessage" Context="uniBlocksGraphModelsUniSqlUserMessage" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="uniBlocksGraphModelsUniSqlUserMessage">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, uniBlocksGraphModelsUniSqlUserMessage))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
